body{
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#main-container{
    height: 1000px;
}
.kareyole-container-1{
    display: flex;
    flex-direction: column;
    height: 400px;
    /* align-items: center; */
    /* justify-content: center; */
}
.options-section{
    display: flex;
    justify-content: center;
    gap: 8rem;
    margin-top: 60px;
}
.about-section a{
    color: #A60035;
    text-decoration: none;
    font-size: 30px;
}
.gallery-section a{
    color: #A60035;
    text-decoration: none;
    font-size: 30px;
}
.schedule-section a{
    color: #A60035;
    text-decoration: none;
    font-size: 30px;
}
.header-title p{
    display: flex;
    justify-content: center;
    margin-top: 140px;
    color: #A60035;
    font-size: 50px;
    font-weight: 1000;
}
.floral-images{
    display: flex;
    position: absolute;
    gap: 64.4rem;
    margin-top: 140px;
}
.floral-left img{
    height: 450px;
}
.floral-right img{
    height: 450px;
}
#second-section{
    background: url(images/background-mandala.png);
    z-index: -10;
}
.kareyole-container-2{
    display: flex;
}
.card-1{
    display: flex;
    justify-content: center;
}
.card-1-details{
    justify-content: center;
}